.back {
  position: fixed;
  top: 20px;
  left: 20px;

  background: rgba(255,255,255,0.1);
  padding: 8px 15px;
  border-radius: 8px;
  border: none;

  color: white;
  cursor: pointer;

  width: auto;
  z-index: 1000;
}

html, body, * {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

